body{
    background-color:lightslategray;
}
header{
    text-align: center;
    font-size:30px;
    margin-bottom:6px;
}
tr{
    padding:5px;
    margin:1opx;
}
td{
    font-size:40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th{
    font-size:43px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}